@model RoomAllocation.Models.Allocate
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Allocate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.MID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.MID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Aid}) |
    @Html.ActionLink("Back to List", "Index")
</p>
