@model IEnumerable<CosmeticStore.Models.Addcosmetic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form id="formSearch" method="post"
<div class="row" id="SearchBox">
    <div class="col-md-2">Cosmetic Name</div>
    <div class="col-md-2"><input type="text" value="@ViewBag.CosmeticName" id="CosmeticName" name="CosmeticName"/></div>
    <div class="col-md-1"><input type="submit" id="submitsearch" value="Search"/></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CosmeticName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CosmeticName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cid }) |
            @Html.ActionLink("Details", "Details", new { id=item.cid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cid })
        </td>
    </tr>
}

</table>
