@model MVCAssignment2.CreateEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreateEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_and_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_and_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Title }) |
    @Html.ActionLink("Back to List", "Index")
</p>
